/* Font Faces*/
@font-face {
    font-family: 'Lato-Light';
    src: url("../js/data/Lato-Light.woff") format('woff');
}

@font-face {
    font-family: 'Lato-Bold';
    src: url("../js/data/Lato-Bold.woff") format('woff');
}

@font-face {
    font-family: 'Lato-Regular';
    src: url("../js/data/Lato-Regular.woff") format('woff');
}

/* Reset */
ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,body,html,p,blockquote,fieldset,input{
    margin:0; padding:0;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
}

/* HTML ELEMENTS */
body {
    width: 3840px;  height: 2160px;
    font-family: "Lato-Light", sans-serif;
    font-size:14px;
    color:#eee;
}

/* Disables scrolling */
body, html {  overflow-x: hidden;  overflow-y: hidden;  }

p { margin-bottom: 2px; }

/* COMMON CLASSES */
.break { clear:both; }
.small { font-size: 14px; }
.bold {
    font-family: "Lato-Bold", sans-serif; }
.hide {   position:absolute; opacity: 0;
    cursor: wait;  pointer-events: none;}
#wrapper { background-color: black;  width:100%; height:100%; margin:0 auto; }
#content { width:100%; height:100%; margin:0 auto; position: relative;}

.info-bg {
    background-color: rgba(0, 0, 0, 0.75);
    height: 117px;
    width: 100%;
    position: absolute;
    bottom: 0;
    -webkit-transition: 0.8s;
    -moz-transition: 0.8s;
    -ms-transition: 0.8s;
    -o-transition: 0.8s;
    transition: 0.8s;
    transition-timing-function: cubic-bezier(.17,.67,.38,1);
}

.front {
    background-size: contain;

    -webkit-transition: 3s;
    -moz-transition: 3s;
    -ms-transition: 3s;
    -o-transition: 3s;
    transition: 3s;
    -webkit-transform-origin: 50% 50%;
}

.back {
    background-size: contain;

    transform: rotateY(180deg);
    -webkit-transition: 3s;
    -moz-transition: 3s;
    -ms-transition: 3s;
    -o-transition: 3s;
    transition: 3s;

    -webkit-transform-origin: 50% 50%;
}

.eduContainer {
    display:inline-block;
    width:100%;
}

.leftContainer {
    display:inline-block;
    width: 50%;
    float:left;
}

.rightContainer {
    display: inline-block;
    width: 50%;
    float:right;
    text-align:right;
}

.row {
    width:100%;
}
.row li {
    float: left;
    display: block;
    height:369px; width:369px;
    padding-top:49px; padding-left:49px;
}
.img {
    height:369px; width:369px; position:absolute;
    -webkit-backface-visibility: hidden;
}

.year {
    font-size: 32px;
    height: 77px;
    padding-left: 10px;
    width: 30px;
    padding-right: 10px;

    position: relative;
    display:table-cell; vertical-align:bottom;
}

.lastName {
    font-size: 32px;
    height: 77px;
    text-align: right;
}

.firstName {
    font-size: 32px;
    height: 77px;
    text-align: right;
}

.year, .lastName {
    font-family: "Lato-Bold", sans-serif;
}

/*
=======================================================================================
Search Card Styles
=======================================================================================
*/

.search {
    position:absolute;
    right: 79px;
    bottom: 70px;
    overflow-x: hidden;
    overflow-y: hidden;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -ms-transition: 1s;
    -o-transition: 1s;
    transition: 1s;

    background-color: #e17c26;
    -webkit-transition-property: -webkit-transform, width;
    -webkit-transition-delay: 0s, 0s;
    /*-webkit-transition-delay: 1s, 0s;*/

    transition-property: transform, width;
    /*transition-delay: 1s, 0s;*/
    transition-delay: 0s, 0s;
}

.search.active {
    overflow-x: hidden;
    overflow-y: hidden;
    /*position: relative;*/
    position:absolute;
    right: 79px;
    bottom: 70px;

    -webkit-transition: 1s;
    -moz-transition: 1s;
    -ms-transition: 1s;
    -o-transition: 1s;
    transition: 1s;

    -webkit-transition-property: -webkit-transform, width;
    /*-webkit-transition-delay: 0s, 1s;*/
    -webkit-transition-delay: 0s, 0s;


    transition-property: transform, width;
    /*transition-delay: 0s, 1s;*/
    transition-delay: 0s, 0s;

    /*transform: translateX(-417px);*/
    /*-webkit-transform: translateX(-417px);*/

    width: 786px;
}


.searchBackNavIcon {
    padding-top: 22px;
    padding-left: 30px;
}

.searchBackNavButton {
    display: inline-block;
    font-size: 40px;
}

.closeButtonIcon {
    padding-top: 22px;
    padding-right: 30px;
}

.closeButton {
    display: inline-block;
    float: right;
    font-size: 40px;
}

.activatable:active {
    opacity: 0.5;
}

.searchOptions {
    overflow-x: hidden;
    overflow-y: hidden;
    min-width: 783px;
    padding-top: 32px;
}

.os-only {
    height: 43px;
    padding: 5px 39px;
}

.searchOption {
    width: 40%;
    padding: 20px 5%;
}

.os-only-icon {
    float: left;
    font-size: 30px;
    padding-left: 18px
}

.os-only-icon {
    vertical-align: middle;
}

.searchOptionText {
    font-size: 35px;
    padding-left: 18px;
    width: 10px;
    height: 30px;
}
.os-only {
    vertical-align: middle;
    line-height: 43px;
}
.os-only > span {
    font-size: 17px;
    vertical-align: middle;
    line-height: 43px;
}

.searchFieldContainer {
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 15px;
}

.searchField {
    display: block;
    float: left;
    background-color: transparent;
    border: solid white 5px;
    color: transparent;
    text-shadow: 0 0 0 white;
    font-size: 23px;
    padding-top: 3px;
    padding-right: 3px;
    padding-left: 10px;
    padding-bottom: 3px;
    text-transform: uppercase;
}

.searchButton {
    float: right;
    text-align: center;
    font-size: 24px;
    margin-left: auto;
    margin-right: auto;
}

input:focus {
    outline: none;
}

.keyboard {
    margin-top: 10px;
    text-align: center;
    font-size: 30px;
}

.keyboard > .qRow,
.keyboard > .aRow,
.keyboard > .zRow {
    height: 70px;
}

.keyboard > .qRow > span,
.keyboard > .aRow > span,
.keyboard > .zRow > span{
    display: inline-block;
    padding: 14px 25px;
}

.backspace {
    background: url(../img/backspaceIcon.png) no-repeat center;
}

/*.zRow > .backspace {*/
    /*display: inline-block;*/
    /*width: 34px;*/
    /*height: 31px;*/
/*}*/

/*.SEARCH_FLOW_INPUT_YEAR .backspace {*/
    /*width: 46px;*/
    /*height: 39px;*/
    /*padding: 70px 30px;*/
/*}*/

.qRow > span:active,
.aRow > span:active,
.zRow > span:active,
.numberKeys > span:active,
.backspace:active {
    opacity: 0.5;
}


.keyboard div.numberKeys {
    width: auto;
    height: 100px;
    float: left;
}

.keyboard div.numberKeys span {
    margin: 0 auto;
    padding: 30px 50px;
}

.fillRect {
    width: 100%;
    height: 100%;
}

.fillWidth {
    width: 100%;
}

.fillHeight {
    width: 100%;
}

.page-numbers-wrapper > span {
    font-size: 64px;
    padding: 50px
}

.SEARCH_FLOW_INACTIVE > span {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 80%;
    height: 30%;
    margin: auto;

    font-size: 71px;
    text-align: center;
}

.lastName {
    padding-left: 3px;
}

.name {
    padding-right: 10px;
    width: 100%;
    text-align: right;
    display: table-cell; vertical-align:bottom;
}

.competitionName {
    font-size: 14px;
    padding-left: 10px;
    margin-bottom: 20px;
}

.details {
    overflow-y: scroll;
    height: 250px;
    margin-left: 40px;
    margin-right: 1px;
    padding-right: 4px;
    -webkit-transition: opacity 1s;
    -moz-transition: opacity 1s;
    -o-transition: opacity 1s;
    transition: opacity 1s;
}

.student-details {
    margin-bottom: 14px;
}

.credits {
    position: absolute;
    height: 20px;
    padding-bottom: 20px;
    bottom: 0;
}

.leftPara {
    text-align: left;
    width: 900px;
    left: 0;

    padding-left: 49px;
}

.rightPara {
    text-align: right;
    right: 0;
    width: 2000px;
    padding-right: 80px;
}

/* Flex allows it to fill up the box*/
.NEC-row {
    display: -ms-flex;
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
}

.wrap {
    flex-wrap: wrap;
}


.NEC-column {
    display: -ms-flex;
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
}

.size-1 {
    flex: 1;
}

.size-2 {
    flex: 2;
}

.size-3 {
    flex: 3;
}

.size-4 {
    flex: 4;
}

.size-5 {
    flex: 5;
}

.size-6 {
    flex: 6;
}

.size-7 {
    flex: 7;
}

/* Clearfix method to allow containers to wrap floated contents correctly */
.wrap-contents::after {
    content: "";
    display: block;
    clear: both;
}

.max-flex {
    flex: 1;
}

.nav-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.center-children {
    display: flex;
    align-items: center;
    justify-content: center;
}

.self-align-top {
    align-self: flex-start;
}

.self-align-bot {
    align-self: flex-end;
}

.lower-focus {
    opacity: 0.70;
}
