/* Font Faces*/
@font-face {
    font-family: 'Montserrat';
    src: url("../js/data/Montserrat-Bold.woff") format('woff');
}

@font-face {
    font-family: 'Lato-Light';
    src: url("../js/data/Lato-Light.woff") format('woff');
}

@font-face {
    font-family: 'Lato-Bold';
    src: url("../js/data/Lato-Bold.woff") format('woff');
}

@font-face {
    font-family: 'Lato-Regular';
    src: url("../js/data/Lato-Regular.woff") format('woff');
}

/* Reset */
ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,body,html,p,blockquote,fieldset,input{
    margin:0; padding:0;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
}

/* HTML ELEMENTS */
body {
    width: 3840px;  height: 2160px;

    font-family: "Lato-Light";
    font-size:14px;
    color:#eee; }

/*body, html {  overflow-x: hidden;  overflow-y: hidden;  }*/

p { margin-bottom: 2px; }

/* COMMON CLASSES */
.break { clear:both; }
.small { font-size: 14px; }
.bold {
    font-family: "Lato-Bold", sans-serif; }
.hide {   position:absolute; opacity: 0;
    cursor: wait;  pointer-events: none;}
#wrapper { background-color: black;  width:100%; height:100%; margin:0 auto; }
#content { width:100%; height:100%; margin:0 auto; position: relative;}

.info-bg {
    background-color: rgba(0, 0, 0, 0.75);
    height: 117px;
    width: 100%;
    position: absolute;
    bottom: 0;
    -webkit-transition: 0.8s;
    -moz-transition: 0.8s;
    -ms-transition: 0.8s;
    -o-transition: 0.8s;
    transition: 0.8s;
    transition-timing-function: cubic-bezier(.17,.67,.38,1);
}

.front {
    background-size: contain;

    -webkit-transition: 3s;
    -moz-transition: 3s;
    -ms-transition: 3s;
    -o-transition: 3s;
    transition: 3s;
    -webkit-transform-origin: 50% 50%;
}

.back {
    background-size: contain;

    transform: rotateY(180deg);
    -webkit-transition: 3s;
    -moz-transition: 3s;
    -ms-transition: 3s;
    -o-transition: 3s;
    transition: 3s;

    -webkit-transform-origin: 50% 50%;
}

.eduContainer {
    display:inline-block;
    width:100%;
}

.leftContainer {
    display:inline-block;
    width: 50%;
    float:left;
}

.rightContainer {
    display: inline-block;
    width: 50%;
    float:right;
    text-align:right;
}

.row {
    width:100%;
}
.row li {
    float: left;
    display: block;
    height:369px; width:369px;
    padding-top:49px; padding-left:49px;
}
.img {
    height:369px; width:369px; position:absolute;
    -webkit-backface-visibility: hidden;
}

.year {
    font-size: 32px;
    height: 77px;
    padding-left: 10px;
    width: 30px;
    padding-right: 10px;

    position: relative;
    display:table-cell; vertical-align:bottom;
}

.lastName {
    font-size: 32px;
    height: 77px;
    text-align: right;
}

.firstName {
    font-size: 32px;
    height: 77px;
    text-align: right;
}

.year, .lastName {
    font-family:"Lato-Bold";
}

.search {
    background-color: #e17c26;
    position: relative;
}

.searchBackNavIcon {
    padding-top: 22px;
    padding-left: 30px;
}

.searchBackNavButton {
    display: inline-block;
    font-size: 40px;
}

.activatable:active {
    opacity: 0.5;
}

.searchOptions {
    padding-top: 32px;
}

.searchOption, .os-only {
    padding-left: 32px;
    height: 43px;
}

.searchOptionIcon, .os-only-icon {
    float: left;
    font-size: 30px;
}

.searchOptionIcon > i, .os-only-icon {
    vertical-align: middle;
}

.searchOptionText {
    font-size: 35px;
    padding-left: 18px;
    width: 10px;
    height: 30px;
}
.os-only {
    vertical-align: center;
    line-height: 43px;
}
.os-only > span {
    font-size: 17px;
    vertical-align: center;
    line-height: 43px;
}

.searchField {
    display: block;
    background-color: transparent;
    border: solid white 6px;
    color: transparent;
    text-shadow: 0 0 0 white;
    font-size: 23px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    padding: 3px;
    text-transform: uppercase;
}

input:focus {
    outline: none;
}

.keyboard {
    margin-top: 15px;
    width: 100%;
    text-align: center;
    font-size: 28px;
}

.keyboard > div {
    height: 40px;
}

.keyboard > div > span {
    padding-left: 4px;
    padding-right: 4px;
    padding-top: 4px;
    padding-bottom: 4px;
}

.keyboard > div > div {
    background-image: url(../img/backspaceIcon.png);
    width: 34px;
    height: 31px;
    display: inline-block;
}

.keyboard > div > span:active, .keyboard > div > div:active {
    opacity: 0.5;
}

.searchButton {
    text-align: center;
    font-size: 24px;
    height: 35px;
    margin-top: 10px;
    width: 40%;
    margin-left: auto;
    margin-right: auto;
}

.fillRect {
    width: 100%;
    height: 100%;
}

.SEARCH_FLOW_INACTIVE > span {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 80%;
    height: 30%;
    margin: auto;

    font-size: 71px;
    text-align: center;
    /*padding-top: 10px;*/
    /*padding-left: 10px;*/
    /*padding-right: 10px;*/

    /*position: relative;*/
    /*display:table-cell; vertical-align:bottom;*/
}


.lastName {
    padding-left: 3px;
}

.name {
    padding-right: 10px;
    width: 100%;
    text-align: right;
    display: table-cell; vertical-align:bottom;
}

.competitionName {
    font-size: 14px;
    padding-left: 10px;
    margin-bottom: 20px;
}

.details {
    overflow-y: scroll;
    height: 250px;
    margin-left: 40px;
    margin-right: 1px;
    padding-right: 4px;
    -webkit-transition: opacity 1s;
    -moz-transition: opacity 1s;
    -ms-transition: opacity 1s;
    -o-transition: opacity 1s;
    transition: opacity 1s;
}

.student-details {
    margin-bottom: 14px;
}

.credits {
    position: absolute;
    height: 20px;
    padding-bottom: 20px;
    bottom: 0;
}

.leftPara {
    text-align: left;
    width: 900px;
    left: 0;

    padding-left: 49px;
}

.rightPara {
    text-align: right;
    right: 0;
    width: 2000px;
    padding-right: 80px;
}
